<form action="/albums/<%= @album.id %>" method="POST">

<h3>Edit Album Details</h3>

<label for="artist-name">Artist Name: </label>
<select id="artist-name" name="artist_id">
  <% for artist in @artists %>
  <% if artist.id() == @album.artist_id() %>
  <option value= <%= artist.id() %> selected><%= artist.name() %></option>
  <% else %>
  <option value= <%= artist.id() %>><%= artist.name() %></option>
  <% end %>
  <% end %>
</select>

  <label for="album-title">Album Title: </label>
  <input id="album-title" type="text" name="title" value="<%= @album.title() %>">

  <label for="album-release-date">Release Date: </label>
  <input id="album-release-date" type="text" name="release_date" value=<%= @album.release_date() %>>

  <label for="album-stock">Stock: </label>
  <input id="album-stock" type="number" name="stock" min="0" value=<%= @album.stock() %>>

  <label for="sale-price">Sale Price: </label>
  <input id="sale-price" type="number" step="any" name="sale_price" value=<%= @album.sale_price() %>>

  <label for="album-cover">Album Cover URL:</label>
  <input id="album-cover" type="text" name="album_cover" value="<%= @album.album_cover() %>">

  <input class="form_button" type="submit" name="" value="Save Changes">

</form>

<p><a href="/albums">Back to Albums</a>
