<button type="button" name="Add album"><a href="/albums/new">Add Album</a></button>

<h3>All Albums:</h3>

<hr/>

<table>
  <th>Artist</th>
  <th>Album</th>
  <th>Stock Level</th>
  <th colspan="3">Actions</th>
  <% @albums.each do |album| %>
  <% artist_hash = album.find_artist %>
  <tr>
    <td><%= artist_hash['name'] %></td>
    <td><%= album.title %></td>
    <td>
      <% if album.stock <= 5 %>
        <p id="low">Low</p>
      <% elsif album.stock <= 10%>
        <p id="medium">Medium</p>
      <% else %>
        <p id="high">High</p>
      <% end %>

      <p></td>
    <td> <button type="button" name="Details"><a href="/albums/<%= album.id %>">View Details</a></button></td>
    <td> <button type="button" name="Edit-album"><a href="/albums/<%= album.id %>/edit">Edit Album</a></button></td>
    <td> <form class="" action="/albums/<%= album.id %>/delete" method="POST">
      <input type="submit" name="" value="Delete Album">
    </form> </td>
  </tr>
  <% end %>
</table>
