<h3>Album Details:</h3>
<div class="lists_container">

<% if @album.album_cover == '' %>
<p></p>
<% else %>
<img src="<%= @album.album_cover() %>" alt="<%= @album.title %>">
<% end %>
<p>Artist: <%= @album.find_artist['name'] %></p>
<p>Album: <%= @album.title %>
<p>Release Date: <%= @album.release_date() %></p>
<p>Unit Price/Sale Price: £<%= @album.unit_price() %>/£<%= @album.sale_price() %></p>
<p>Stock: <%= @album.stock %></p>
<p>Current Inventory Profit Margin: £<%= @album.stock_profit() %></p>
<button type="button" name="edit-album"> <a href="/albums/<%= @album.id %>/edit">Edit Album</a> </button>
<form class="" action="/albums/<%= @album.id() %>/delete" method="POST">
  <input class="delete_button" type="submit" name="" value="Delete Album">
</form>
<hr/>
<p><a href="/albums">Back to Albums</a></p>
</div>
