<button type="button" name="Add Artist"><a href="/artists/new">Add Artist</a></button>
<h3>All Artists:</h3>

<hr/>

<% @artists.each do |artist| %>


<div class="lists_container"
<p><a href="/artists/<%= artist.id %>"><%= artist.name %></a> ||
  <a href="/artists/<%= artist.id %>/albums">Albums: (<%= artist.find_albums.count() %>)</a>
</p>
<table>
  <tr>
    <td><button type="button" name="Add Album"><a href="/albums/new">Add Album</a></button></td>
    <td><button type="button" name="Edit Artist"><a href="/artists/<%= artist.id %>/edit">Edit Artist</a></button></td>
    <td><form class="" action="/artists/<%= artist.id() %>/delete" method="POST">
      <input class="form_button" type="submit" name="" value="Delete Artist">
    </form></td>
  </tr>
</table>
</div>

<hr/>
<% end  %>
