<button type="button" name="Add Artist"><a href="/artists/new">Add Artist</a></button>
<h3>All Artists:</h3>

<% @artists.each do |artist| %>


<div class="lists_container"
<p><%= artist.name %> <button type="button" name="artist-details"><a href="/artists/<%= artist.id %>">Details</a></button>
Albums: <%= artist.find_albums.count() %>
<button type="button" name="album-details"><a href="/artists/<%= artist.id %>/albums">Details</a></button>
</p>
<button type="button" name="Add Album"> <a href="/albums/new">Add Album</a> </button>
<button type="button" name="Edit Artist"> <a href="/artists/<%= artist.id %>/edit">Edit Artist</a> </button>
<form class="" action="/artists/<%= artist.id() %>/delete" method="POST">
<input class="form_button" type="submit" name="" value="Delete Artist">
</form>
</div>

<hr/>
<% end  %>
