<button type="button" name="Add New Artist"><a href="/artists/new">Add new artist</a></button>

<h3>All Artists:</h3>

<% @artists.each do |artist| %>
<p><%= artist.name %> <button type="button" name="artist-details"><a href="/artists/<%= artist.id %>">Details</a></button>
Albums: <%= artist.find_albums.count() %>
<button type="button" name="album-details"><a href="/artists/<%= artist.id %>/albums">Details</a></button>
</p>
<button type="button" name="Add Album"> <a href="/albums/new">Add Album</a> </button>
<form class="" action="/artists/<%= artist.id() %>/delete" method="POST">
<input type="submit" name="" value="Delete Artist">
</form>

<hr/>
<% end  %>
