<div class="lists_container">
<h3>Albums by <%= @artist.name %>:</h3>
<% album_array = @artist.find_albums %>
<% for album in album_array %>
<p>Title: <%= album.title %></p>
<p>Release Date: <%= album.release_date %></p>
<p>Stock level: <%= album.stock %></p>

  <button type="button" name="Edit-album"><a href="/albums/<%= album.id %>/edit">Edit Album</a></button>
  <form class="" action="/albums/<%= album.id %>/delete" method="POST">
    <input class="form_button" type="submit" name="" value="Delete Album">
  </form>

<hr/>

<% end %>
<p> <a href="/artists/<%= @artist.id %>">Back to <%= @artist.name() %></a> </p>
<p><a href="/artists">Back to Artists</a></p>
</div>
